<%= form_with(model: spot_cue_spotlight, local: true) do |form| %>
  <% if spot_cue_spotlight.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(spot_cue_spotlight.errors.count, "error") %> prohibited this spot_cue from being saved:
      </h2>

      <ul>
        <% spot_cue_spotlight.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :spot_cue, :class => "label" %>
    <%= form.collection_select(:spot_cue_id, @spot_cues, :id, :descriptive_name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :spotlight, :class => "label" %>
    <%= form.collection_select(:spotlight_id, @spotlights, :id, :descriptive_name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :size, :class => "label" %>
    <%= form.text_field :size, :class => "input" %>
  </div>
  <div class="field">
    <%= form.label :intensity, :class => "label" %>
    <%= form.text_field :intensity, :class => "input" %>
  </div>
  <div class="field">
    <%= form.label :action, :class => "label" %>
    <%= form.text_field :action, :class => "input" %>
  </div>
  <div class="field">
    <%= form.label :time, :class => "label" %>
    <%= form.text_field :time, :class => "input" %>
  </div>
  <div class="field">
    <%= form.label :notes, :class => "label" %>
    <%= form.text_field :notes, :class =>"input" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "button is-link" %>
  </div>
<% end %>