<section class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <h1 class='title'>Color Frames</h1>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Color Name</th>
          <th>Color Number</th>
          <th>Spotlight Name</th>
          <th>Frame Position</th>
          <th colspan="3">Show / Edit / Destroy</th>
        </tr>
      </thead>

      <tbody>
        <% @color_frames.each do |color_frame| %>
          <tr>
            <td><%= color_frame.color.gel_name %></td>
            <td style="background-color: <%= color_frame.color.gel_hex %> ;">
              <%= color_frame.color.gel_num %>
            </td>
            <td><%= color_frame.spotlight.spotlight_name %></td>
            <td><%= color_frame.frame_position %></td>
            <td><%= link_to 'Show', color_frame %></td>
            <td><%= link_to 'Edit', edit_color_frame_path(color_frame) %></td>
            <td><%= link_to 'Destroy', color_frame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Color Frame', new_color_frame_path %>
  </div>
</section>