
<%= simple_form_for(@spotlight_cue) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :color %>
    <%= f.association :size %>
    <%= f.association :intensity %>
    <%= f.association :action %>
    <%= f.input :time %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
