<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @spotlight_cue.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @spotlight_cue.size %>
</p>

<p>
  <strong>Intensity:</strong>
  <%= @spotlight_cue.intensity %>
</p>

<p>
  <strong>Action:</strong>
  <%= @spotlight_cue.action %>
</p>

<p>
  <strong>Time:</strong>
  <%= @spotlight_cue.time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spotlight_cue.description %>
</p>

<%= link_to 'Edit', edit_spotlight_cue_path(@spotlight_cue) %> |
<%= link_to 'Back', spotlight_cues_path %>
