<p id="notice"><%= notice %></p>

<h1>Master Cues</h1>

<table>
  <thead>
    <tr>
      <th>Lx cue</th>
      <th>Spot cue</th>
      <th>Cue info</th>
      <th>Scene</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @master_cues.each do |master_cue| %>
      <tr>
        <td><%= master_cue.lx_cue %></td>
        <td><%= master_cue.spot_cue %></td>
        <td><%= master_cue.cue_info %></td>
        <td><%= master_cue.scene %></td>
        <td><%= master_cue.song %></td>
        <td><%= link_to 'Show', master_cue %></td>
        <td><%= link_to 'Edit', edit_master_cue_path(master_cue) %></td>
        <td><%= link_to 'Destroy', master_cue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Master Cue', new_master_cue_path %>
