<p id="notice"><%= notice %></p>

<h1>Cue Spotlights</h1>

<table>
  <thead>
    <tr>
      <th>References</th>
      <th>References</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cue_spotlights.each do |cue_spotlight| %>
      <tr>
        <td><%= cue_spotlight.color %></td>
        <td><%= cue_spotlight.size %></td>
        <td><%= cue_spotlight.intensity %></td>
        <td><%= cue_spotlight.action %></td>
        <td><%= cue_spotlight.time %></td>
        <td><%= cue_spotlight.description %></td>
        <td><%= link_to 'Show', cue_spotlight %></td>
        <td><%= link_to 'Edit', edit_cue_spotlight_path(cue_spotlight) %></td>
        <td><%= link_to 'Destroy', cue_spotlight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cue Spotlight', new_cue_spotlight_path %>
