<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @cue_spotlight.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @cue_spotlight.references %>
</p>

<%= link_to 'Edit', edit_cue_spotlight_path(@cue_spotlight) %> |
<%= link_to 'Back', cue_spotlights_path %>
