<p id="notice"><%= notice %></p>

<section class="section">
  <div class="container">
    <h1 class="title">Spot Cue Matrix</h1>

    <table border="1" class="table">
      <thead>
      <tr>
        <th rowspan="2" style="vertical-align:middle">Light cue number</th>
        <th rowspan="2" style="vertical-align:middle">Number</th>
        <th rowspan="2" style="vertical-align:middle">Name</th>
        <th rowspan="2" style="vertical-align:middle">Type</th>

        <% @spotlights.each do |spotlight| %>
        <th colspan="5" style="text-align:center"><%= link_to spotlight.descriptive_name, spotlight %></th>
        <% end %>

      </tr>
      <tr>
        <% @spotlights.each do |spotlight| %>
          <th>Color</th>
          <th>Size</th>
          <th>Intensity</th>
          <th>Time</th>
          <th>Action</th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% @spot_cues.each do |spot_cue| %>
        <tr>
          <td bgcolor="<%= background_color_for_cue_type(spot_cue.cue_type) %>" style="font-weight: bold;"><%= spot_cue.light_cue_number %></td>
          <td bgcolor="<%= background_color_for_cue_type(spot_cue.cue_type) %>" style="font-weight: bold;"><%= spot_cue.number %></td>
          <td bgcolor="<%= background_color_for_cue_type(spot_cue.cue_type) %>" style="font-weight: bold;"><%= spot_cue.name %></td>
          <td bgcolor="<%= background_color_for_cue_type(spot_cue.cue_type) %>"><%= spot_cue.cue_type %></td>
          <% @spotlights.each do |spotlight| %>
            <% if spot_cue.spotlights.include? spotlight %>
              <% spot_cue_spotlight = spot_cue.spot_cue_spotlights.where(spotlight_id: spotlight.id ).first %>
              <td>?</td>
              <td style="<%= style_for_changed_parameter(spot_cue_spotlight, @previous[spot_cue_spotlight.spotlight.id], :size) %>"><%= spot_cue_spotlight.size %></td>
              <td style="<%= style_for_changed_parameter(spot_cue_spotlight, @previous[spot_cue_spotlight.spotlight.id], :intensity) %>"><%= spot_cue_spotlight.intensity %></td>
              <td style="<%= style_for_changed_parameter(spot_cue_spotlight, @previous[spot_cue_spotlight.spotlight.id], :time) %>"><%= spot_cue_spotlight.time %></td>
              <td style="<%= style_for_changed_parameter(spot_cue_spotlight, @previous[spot_cue_spotlight.spotlight.id], :action) %>"><%= spot_cue_spotlight.action %></td>
              <% @previous[spot_cue_spotlight.spotlight.id] = spot_cue_spotlight %>
            <% else %>
              <td colspan="5" bgcolor="#dcdcdc"></td>
            <% end %>
          <% end %>

        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Spot Cue', new_spot_cue_path %>
  </div>
</section>
