<%= form_with(model: spotlight_model, local: true) do |form| %>
  <% if spotlight_model.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(spotlight_model.errors.count, "error") %> prohibited this spotlight_model from being saved:
      </h2>

      <ul>
        <% spotlight_model.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :spotlight_name, :class => "label" %>
    <%= form.text_field :spotlight_name, :class =>"input" %>
  </div>

  <div class="field">
    <%= form.label :spotlight_weight, :class => "label" %>
    <%= form.number_field :spotlight_weight, :class =>"input" %>
  </div>

  <div class="field">
    <%= form.label :manufacturer_id, :class => "label" %>
    <div class="select"><%= form.collection_select(:manufacturer_id, @manufacturers, :id, :name, prompt: true) %></div>
  </div>

  <div class="actions">
    <%= form.submit :class => "button is-link" %>
  </div>
<% end %>