<section class="section">
  <div class="container">
    <h1 class="title">Spotlight Models</h1>
    <p id="notice"><%= notice %></p>
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th>Spotlight name</th>
        <th>Spotlight weight</th>
        <th>Manufacturer</th>
        <th colspan="3">Show / Edit / Destroy</th>
      </tr>
      </thead>
      <tbody>
      <% @spotlight_models.each do |spotlight_model| %>
      <tr>
        <td><%= spotlight_model.spotlight_name %></td>
        <td><%= spotlight_model.spotlight_weight %></td>
        <td><%= spotlight_model.manufacturer_id %></td>
        <td><%= link_to 'Show', spotlight_model %></td>
        <td><%= link_to 'Edit', edit_spotlight_model_path(spotlight_model) %></td>
        <td><%= link_to 'Destroy', spotlight_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>

<%= link_to 'New Spotlight Model', new_spotlight_model_path %>