<p id="notice"><%= notice %></p>

<p>
  <strong>Spotlight name:</strong>
  <%= @spotlight_model.spotlight_name %>
</p>

<p>
  <strong>Spotlight weight:</strong>
  <%= @spotlight_model.spotlight_weight %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @spotlight_model.manufacturer.name %>
</p>

<%= link_to 'Edit', edit_spotlight_model_path(@spotlight_model) %> |
<%= link_to 'Back', spotlight_models_path %>
