
<%= simple_form_for(@cue) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :lx_cue %>
    <%= f.input :spot_cue %>
    <%= f.input :cue_info %>
    <%= f.input :scene %>
    <%= f.input :song %>
    <%= f.collection_select(:intensity_id, @intensities, :id, :name, prompt: true) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
