<section class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="columns">
      <div class="column has-text-centered">
        <h1>Cues</h1>

        <table class="table is-fullwidth">
          <thead>
          <tr>
            <th>Lx cue</th>
            <th>Spot cue</th>
            <th>Cue info</th>
            <th>Scene</th>
            <th>Song</th>

            <th>Spotlight</th>
            <th>Action</th>
            <th>Description</th>
          </tr>
          </thead>

          <tbody>
          <% @cues.each do |cue| %>
            <% cue.cue_spotlights.each do |cue_spotlight| %>
              <tr>
                <td><%= cue.lx_cue %></td>
                <td><%= cue.spot_cue %></td>
                <td><%= cue.cue_info %></td>
                <td><%= cue.scene %></td>
                <td><%= cue.song %></td>

                <th><%= cue_spotlight.spotlight_id %></th>
                <th><%= cue_spotlight.action %></th>
                <th><%= cue_spotlight.description %></th>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
        <%= link_to 'New Cue', new_cue_path %>
      </div>
    </div>
  </div>
</section>