<p id="notice"><%= notice %></p>

<p>
  <strong>Lx cue:</strong>
  <%= @cue.lx_cue %>
</p>

<p>
  <strong>Spot cue:</strong>
  <%= @cue.spot_cue %>
</p>

<p>
  <strong>Cue info:</strong>
  <%= @cue.cue_info %>
</p>

<p>
  <strong>Scene:</strong>
  <%= @cue.scene %>
</p>

<p>
  <strong>Song:</strong>
  <%= @cue.song %>
</p>

<%= link_to 'Edit', edit_cue_path(@cue) %> |
<%= link_to 'Back', cues_path %>
