<%= form_with(model: spotlight_position, local: true) do |form| %>
  <% if spotlight_position.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(spotlight_position.errors.count, "error") %> prohibited this spotlight_position from being saved:
      </h2>

      <ul>
        <% spotlight_position.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :position_name, :class => "label" %>
    <%= form.text_field :position_name, :class =>"input" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "button is-link" %>
  </div>
<% end %>