<p id="notice"><%= notice %></p>

<h1>Spotlight Intensities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Intensity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spotlight_intensities.each do |spotlight_intensity| %>
      <tr>
        <td><%= spotlight_intensity.name %></td>
        <td><%= spotlight_intensity.intensity %></td>
        <td><%= link_to 'Show', spotlight_intensity %></td>
        <td><%= link_to 'Edit', edit_spotlight_intensity_path(spotlight_intensity) %></td>
        <td><%= link_to 'Destroy', spotlight_intensity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spotlight Intensity', new_spotlight_intensity_path %>
