<%= semantic_form_for @spotlight do |f| %>
  <% f.inputs do %>
    <%= f.input :spotlight_name %>
    <%= f.input :spotlight_notes %>
    <h3>Color Frames</h3>
    <div id='color-frames'>
      <%= f.semantic_fields_for :color_frames do |color_frame| %>
        <%= render 'color_frame_fields', :f => color_frame %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add task', f, :color_frames %>
      </div>
    </div>
    <% f.buttons do %>
      <%= f.submit 'Save' %>
    <% end %>
  <% end %>
<% end %>
