<%= form_with(model: spotlight, local: true) do |f| %>
  <% if spotlight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spotlight.errors.count, "error") %> prohibited this spotlight from being saved:</h2>
      <ul>
        <% spotlight.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :spotlight_name, :class => "label"  %>
    <%= f.text_field :spotlight_name, :class =>"input" %>
  </div>

  <div class="field">
    <%= f.label :spotlight_op_fk, :class => "label"  %>
    <%= f.number_field :spotlight_op_fk, :class =>"input" %>
  </div>

  <div class="field">
    <%= f.label :spotlight_model_fk, :class => "label"  %>
    <%= f.number_field :spotlight_model_fk, :class =>"input" %>
  </div>

  <div class="field">
    <%= f.label :spotlight_notes, :class => "label"  %>
    <%= f.text_area :spotlight_notes, :class =>"input" %>
  </div>

  <div class="field">
    <%= f.label :spotlight_position_fk, :class => "label"  %>
    <%= f.text_field :spotlight_position_fk, :class =>"input" %>
  </div>

  <p class="subtitle"> Color Frames</p>
  <ul>
  </ul>

  <p class="control">
    <%= f.submit :class => "button is-success" %>
  </p>
<% end %>