<%= form_with(model: spotlight, local: true) do |f| %>
  <% if spotlight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spotlight.errors.count, "error") %> prohibited this spotlight from being saved:</h2>
      <ul>
        <% spotlight.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :spotlight_name, :class => "label"  %>
    <%= f.text_field :spotlight_name, :class =>"input" %>
  </div>

  <div class="field">
    <%= f.label :spotlight_op, :class => "label"  %>
    <div class="select"><%= f.collection_select(:operator_id, @people, :id, :full_name, prompt: true) %></div>
  </div>

  <div class="field">
    <%= f.label :spotlight_model, :class => "label"  %>
    <div class="select"><%= f.collection_select(:model_id, @model, :id, :spotlight_name, prompt: true) %></div>
  </div>

  <div class="field">
    <%= f.label :spotlight_notes, :class => "label"  %>
    <%= f.text_area :spotlight_notes, :class =>"input" %>
  </div>

  <div class="field">
    <%= f.label :spotlight_position, :class => "label"  %>
    <div class="select"><%= f.collection_select(:position_id, @position, :id, :position_name, prompt: true) %></div>
  </div>

  <p class="subtitle"> Color Frames</p>
  <table class="table is-fullwidth">
    <thead>
      <tr><th>Frame Position</th><th>Frame Color</th><th></th></tr>
    </thead>
    <tbody class="color_frames">
      <%= f.fields_for :color_frames do |color_frame| %>
        <%= render 'color_frame_fields', f: color_frame %>
      <% end %>
    </tbody>
  </table>
  <div id="links">
    <%= link_to_add_association 'add color frame', f, :color_frames, data: {"association-insertion-node" => "tbody.color_frames", "association-insertion-method" => "append"}%>
  </div>

  <p class="control">
    <%= f.submit :class => "button is-success" %>
  </p>
<% end %>