<section class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <h1>Spotlights</h1>

    <table class="table is-fullwidth">
      <thead>
        
          <tr>
            <th>Spotlight Name</th>
            <th>Spotlight Op</th>
            <th>Spotlight Model</th>
            <th>Spotlight Notes</th>
            <th>Spotlight Position</th>
            <th># of Color Frames</th>
            <% @spotlights.each do |spotlight| %>
              <th colspan="<%= spotlight.color_frames.count %>">
                Gel Colors
              </th>
            <% end %>
            <th colspan="3">Show / Edit / Destory</th>
          </tr>
      </thead>

      <tbody>
        <% @spotlights.each do |spotlight| %>
          <tr>
            <td><%= spotlight.spotlight_name %></td>
            <td><%= spotlight.spotlight_op_fk %></td>
            <td><%= spotlight.spotlight_model_fk %></td>
            <td><%= spotlight.spotlight_notes %></td>
            <td><%= spotlight.spotlight_position_fk %></td>
            <td><%= spotlight.color_frames.count %></td>
            <% spotlight.colors.each do |l| %>
              <td style="background-color: <%= l.gel_hex %> ;">
                <%= l.gel_num %>
              </td>
            <% end %>
            <td><%= link_to 'Show', spotlight %></td>
            <td><%= link_to 'Edit', edit_spotlight_path(spotlight) %></td>
            <td><%= link_to 'Destroy', spotlight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Spotlight', new_spotlight_path %>
  </div>
</section>