<section class="section">
  <div class="container">
    <p id="notice">
      <%= notice %>
    </p>

    <h1 class="title">Spotlights</h1>
    <div class="columns">
      <% for spotlight in @spotlights %>
        <div class="column has-text-centered">
          <p class="title">
            <%= spotlight.spotlight_name %>
          </p>
          <%= image_tag("SpotOp.png") %>
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Color ID</th>
                <th>Color</th>
              </tr>
            </thead>
            <tbody>
              <% for color_frame in spotlight.color_frames %>
                <tr>
                  <th><%= color_frame.id %></th>
                  <th style="background-color: <%= color_frame.color.gel_hex %> ;"><%= color_frame.color.gel_name %></th>
                </tr>
              <% end %>
            </tbody>
          </table>
          <p class="subtitle"><%= spotlight.spotlight_position_fk %></p>
          <p class="has-text-weight-bold spotNotes"><%= spotlight.spotlight_notes %></p>
          <p> For Debug Purposes:
            <%= spotlight.id %>
          </p>
          <br>
          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <%= button_to 'Show', spotlight, :class => "button is-success", :method => :get  %>
            </p>
            <p class="control">
              <%= button_to 'Edit', edit_spotlight_path(spotlight), :class => "button is-link", :method => :get %>
            </p>
            <p class="control">
              <%= button_to 'Destroy', spotlight, method: :delete,:class => "button is-danger", data: { confirm: 'Are you sure?' } %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <%= button_to 'New Spotlight', new_spotlight_path, :class => "button is-success", :method => :get  %>
        </p>
      </div>
  </div>
</section>