<%= form_with(model: color, local: true) do |form| %>
  <% if color.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(color.errors.count, "error") %> prohibited this color from being saved:
      </h2>

      <ul>
        <% color.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :gel_num, :class => "label" %>
      <%= form.text_field :gel_num, :class =>"input" %>
  </div>

  <div class="field">
    <%= form.label :gel_name, :class => "label" %>
      <%= form.text_field :gel_name, :class =>"input" %>
  </div>

  <div class="field">
    <%= form.label :gel_hex, :class => "label" %>
      <%= form.text_field :gel_hex, :class =>"input" %>
  </div>

  <div class="field">
    <%= form.label :manufacturer_id, :class => "label" %>
      <%= form.number_field :manufacturer_id, :class =>"input" %>
  </div>

  <div class="actions">
    <%= form.submit :class => "button is-link" %>
  </div>
<% end %>