<section class="section">
  <div class="container">
    <h1 class="title">Color List</h1>
    <p id="notice"><%= notice %></p>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Color Number</th>
          <th>Color Name</th>
          <th>Hex Code</th>
          <th>Manufacturer</th>
          <th colspan="3">Show / Edit / Destroy</th>
        </tr>
      </thead>
      <tbody>
        <% @colors.each do |color| %>
          <tr>
            <td><%= color.gel_num %></td>
            <td><%= color.gel_name %></td>
            <td style="background-color: <%= color.gel_hex %> ;">
              <%= color.gel_hex %>
            </td>
            <td><%= color.manufacturer_id %></td>
            <td><%= link_to 'Show', color %></td>
            <td><%= link_to 'Edit', edit_color_path(color) %></td>
            <td><%= link_to 'Destroy', color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
