<section class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Gel Number:</strong>
      <%= @color.gel_num %>
    </p>
    <p>
      <strong>Gel Name:</strong>
      <%= @color.gel_name %>
    </p>
    <p style="background-color: <%= @color.gel_hex %> ;">
      <strong>Gel HEX:</strong>
      <%= @color.gel_hex %>
    </p>
    <p>
      <strong>Manufacturer fk:</strong>
      <%= @color.manufacturer_fk %>
    </p>
    <%= link_to 'Edit', edit_color_path(@color) %> |
    <%= link_to 'Back', colors_path %>
  </div>
</section>