<p id="notice"><%= notice %></p>

<h1>Cue Master Cues</h1>

<table>
  <thead>
    <tr>
      <th>References</th>
      <th>References</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cue_master_cues.each do |cue_master_cue| %>
      <tr>
        <td><%= cue_master_cue.references %></td>
        <td><%= cue_master_cue.references %></td>
        <td><%= link_to 'Show', cue_master_cue %></td>
        <td><%= link_to 'Edit', edit_cue_master_cue_path(cue_master_cue) %></td>
        <td><%= link_to 'Destroy', cue_master_cue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cue Master Cue', new_cue_master_cue_path %>
