<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @cue_master_cue.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @cue_master_cue.references %>
</p>

<%= link_to 'Edit', edit_cue_master_cue_path(@cue_master_cue) %> |
<%= link_to 'Back', cue_master_cues_path %>
