<!DOCTYPE html>
<html>
  <head>
    <title>HFLDDesignPortalV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.css.map' %>
    <%= javascript_include_tag 'https://use.fontawesome.com/releases/v5.0.6/js/all.js' %>
  </head>

  <body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <%= image_tag("LOGO.png") %>
        </a>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Spotlights</a>
        <div class="navbar-dropdown">
          <%= link_to "Spotlight Setup", spotlights_path, class: "navbar-item" %>
          <%= link_to "Spotlight Positions", spotlight_positions_path, class: "navbar-item" %>
          <%= link_to "Spotlight Models", spotlight_models_path, class: "navbar-item" %>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Spotlight Cues</a>
        <div class="navbar-dropdown">
          <%= link_to "Spot Cues", spot_cues_path, class: "navbar-item" %>
          <%= link_to "Spot Cue Spotlights", spot_cues_spotlights_path, class: "navbar-item" %>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">General</a>
        <div class="navbar-dropdown">
          <%= link_to "People", people_path, class: "navbar-item" %>
          <%= link_to "Gel Colors", colors_path, class: "navbar-item" %>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Inventory Management</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/">Inventory Setup</a>
          <a class="navbar-item" href="/">Inventory Locations</a>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
